{
  "openapi": "3.1.0",
  "info": {
    "title": "Concierge Agent API",
    "version": "4.0.0",
    "description": "Market intelligence as a service — fifteen pay-per-call endpoints. Concierge AI, macro & wire research, DeFi intel, Alpha desks, and Lounge RWA signals. No API keys. x402 + MPP discovery; USDC settlement on Solana and Base via PayAI (primary) with Dexter fallback.",
    "x-guidance": "Concierge Agent is a pay-per-call market intelligence API. No API keys — payment is the only gate. Discover endpoints via GET /openapi.json. Each paid route accepts POST with application/json after x402 USDC settlement on Solana or Base (PayAI (primary) · Dexter (fallback)). Flow: POST without PAYMENT-SIGNATURE → 402 + PAYMENT-REQUIRED header → pay → retry with PAYMENT-SIGNATURE (base64 payment payload). Intel routes: /api/concierge-intel-tvl (empty body ok), intel-yields (chain/project), intel-whales (symbols), intel-wallet (solAddress/evmAddress), intel-verdict (message, includeInsider), intel-macro (empty body ok), intel-wire (category/message/limit), intel-airdrop|intel-listing|intel-momentum (message, chain, limit, includeInsider), intel-scalp (symbols BTC|ETH|BNB|SOL, intervals 5m|15m). Concierge chat: POST /api/concierge with mode chat|enhance|image and message. Lounge: /api/news-open, /api/lounge-signal-publish ($1), /api/lounge-signal-open. CLI: npx agentcash discover <origin> · npx agentcash check <origin>/api/concierge-intel-tvl OpenDexter: npx -y @dexterai/opendexter · x402_search for Dexter marketplace discovery pay.sh: pay --sandbox curl <origin>/api/concierge-intel-tvl -d '{}' · pay skills search market intelligence",
    "x-marketplace-tags": [
      "AI",
      "Research",
      "News",
      "Trading",
      "Search",
      "Crypto",
      "RWA",
      "Utility"
    ],
    "contact": {
      "name": "Concierge Agent",
      "url": "https://conc-exe.xyz/docs",
      "email": "support@conc-exe.xyz"
    }
  },
  "x-service-info": {
    "name": "Concierge Agent",
    "description": "Market intelligence as a service — pay-per-call Concierge AI, macro & wire research, DeFi intel APIs, and Lounge RWA signals. USDC on Solana or Base via x402 (MPP-compatible discovery).",
    "tags": [
      "AI",
      "Research",
      "News",
      "Trading",
      "Search",
      "Crypto",
      "RWA",
      "Utility"
    ],
    "iconUrl": "https://conc-exe.xyz/images/the-concierge-logo.png",
    "protocols": [
      "x402",
      "mpp"
    ],
    "facilitator": "PayAI",
    "facilitatorUrl": "https://facilitator.payai.network",
    "fallbackFacilitator": "Dexter",
    "fallbackFacilitatorUrl": "https://x402.dexter.cash",
    "networks": [
      "solana",
      "base"
    ]
  },
  "servers": [
    {
      "url": "https://conc-exe.xyz",
      "description": "Concierge Agent"
    }
  ],
  "paths": {
    "/api/news-open": {
      "post": {
        "operationId": "news",
        "summary": "Open news article",
        "description": "Unlock one wire headline and receive the canonical article URL.",
        "x-payment-info": {
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.100000"
          },
          "protocols": [
            {
              "x402": {
                "network": "solana",
                "facilitator": "https://facilitator.payai.network",
                "role": "primary"
              }
            },
            {
              "x402": {
                "network": "base",
                "facilitator": "https://facilitator.payai.network",
                "role": "primary"
              }
            },
            {
              "x402": {
                "network": "solana",
                "facilitator": "https://x402.dexter.cash",
                "role": "fallback"
              }
            },
            {
              "x402": {
                "network": "base",
                "facilitator": "https://x402.dexter.cash",
                "role": "fallback"
              }
            },
            {
              "mpp": {
                "method": "solana",
                "intent": "charge",
                "currency": "USDC"
              }
            }
          ],
          "offers": [
            {
              "protocol": "x402",
              "amount": "100000",
              "currency": "USDC",
              "intent": "charge",
              "description": "$0.10 USDC via PayAI (primary; Dexter fallback on Solana/Base)"
            },
            {
              "protocol": "mpp",
              "amount": "100000",
              "currency": "USDC",
              "intent": "charge",
              "description": "$0.10 USDC — x402 settlement compatible with MPP clients"
            }
          ]
        },
        "tags": [
          "Search",
          "News",
          "Research",
          "RWA"
        ],
        "responses": {
          "200": {
            "description": "Success after payment",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": false,
                  "properties": {
                    "url": {
                      "type": "string",
                      "description": "Canonical article URL"
                    },
                    "unlocked": {
                      "type": "boolean"
                    },
                    "title": {
                      "type": "string"
                    },
                    "source": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "url",
                    "unlocked"
                  ]
                },
                "example": {
                  "url": "https://www.bbc.com/news/example",
                  "unlocked": true,
                  "title": "Example",
                  "source": "BBC"
                }
              }
            }
          },
          "402": {
            "description": "Payment Required",
            "headers": {
              "PAYMENT-REQUIRED": {
                "description": "Base64 JSON x402 payment requirements (MPP-compatible)",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "priceUsdc": {
                      "type": "number"
                    },
                    "resource": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "servers": [
          {
            "url": "https://conc-exe.xyz/api/news-open"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": false,
                "properties": {
                  "url": {
                    "type": "string",
                    "description": "Article URL (http/https)"
                  },
                  "title": {
                    "type": "string",
                    "description": "Headline title"
                  },
                  "source": {
                    "type": "string",
                    "description": "Publisher name"
                  }
                },
                "required": [
                  "url"
                ]
              }
            }
          }
        }
      }
    },
    "/api/concierge": {
      "post": {
        "operationId": "concierge",
        "summary": "Concierge AI message",
        "description": "One Concierge AI turn (chat, enhance, or image analysis).",
        "x-payment-info": {
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.100000"
          },
          "protocols": [
            {
              "x402": {
                "network": "solana",
                "facilitator": "https://facilitator.payai.network",
                "role": "primary"
              }
            },
            {
              "x402": {
                "network": "base",
                "facilitator": "https://facilitator.payai.network",
                "role": "primary"
              }
            },
            {
              "x402": {
                "network": "solana",
                "facilitator": "https://x402.dexter.cash",
                "role": "fallback"
              }
            },
            {
              "x402": {
                "network": "base",
                "facilitator": "https://x402.dexter.cash",
                "role": "fallback"
              }
            },
            {
              "mpp": {
                "method": "solana",
                "intent": "charge",
                "currency": "USDC"
              }
            }
          ],
          "offers": [
            {
              "protocol": "x402",
              "amount": "100000",
              "currency": "USDC",
              "intent": "charge",
              "description": "$0.10 USDC via PayAI (primary; Dexter fallback on Solana/Base)"
            },
            {
              "protocol": "mpp",
              "amount": "100000",
              "currency": "USDC",
              "intent": "charge",
              "description": "$0.10 USDC — x402 settlement compatible with MPP clients"
            }
          ]
        },
        "tags": [
          "AI",
          "Research",
          "Trading",
          "RWA"
        ],
        "responses": {
          "200": {
            "description": "Success after payment",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": false,
                  "properties": {
                    "reply": {
                      "type": "string",
                      "description": "HTML analysis from Concierge"
                    },
                    "topics": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    }
                  },
                  "required": [
                    "reply"
                  ]
                },
                "example": {
                  "reply": "<p>Analysis…</p>",
                  "topics": [
                    "crypto",
                    "macro"
                  ]
                }
              }
            }
          },
          "402": {
            "description": "Payment Required",
            "headers": {
              "PAYMENT-REQUIRED": {
                "description": "Base64 JSON x402 payment requirements (MPP-compatible)",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "priceUsdc": {
                      "type": "number"
                    },
                    "resource": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "servers": [
          {
            "url": "https://conc-exe.xyz/api/concierge"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": false,
                "properties": {
                  "mode": {
                    "type": "string",
                    "enum": [
                      "chat",
                      "enhance",
                      "image"
                    ],
                    "description": "Concierge mode"
                  },
                  "message": {
                    "type": "string",
                    "description": "User message"
                  },
                  "history": {
                    "type": "array",
                    "description": "Prior chat turns",
                    "items": {
                      "type": "object",
                      "properties": {
                        "role": {
                          "type": "string",
                          "enum": [
                            "user",
                            "model"
                          ]
                        },
                        "text": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "role",
                        "text"
                      ]
                    }
                  },
                  "market": {
                    "type": "array",
                    "description": "Optional market ticks from UI"
                  },
                  "signal": {
                    "type": "object",
                    "description": "Optional signal draft for enhance mode",
                    "properties": {
                      "title": {
                        "type": "string"
                      },
                      "summary": {
                        "type": "string"
                      }
                    }
                  }
                },
                "required": [
                  "message"
                ]
              }
            }
          }
        }
      }
    },
    "/api/lounge-signal-publish": {
      "post": {
        "operationId": "signal_publish",
        "summary": "Publish creator signal",
        "description": "Publish one RWA intelligence signal to the Executive Lounge feed (anti-spam fee).",
        "x-payment-info": {
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "1.000000"
          },
          "protocols": [
            {
              "x402": {
                "network": "solana",
                "facilitator": "https://facilitator.payai.network",
                "role": "primary"
              }
            },
            {
              "x402": {
                "network": "base",
                "facilitator": "https://facilitator.payai.network",
                "role": "primary"
              }
            },
            {
              "x402": {
                "network": "solana",
                "facilitator": "https://x402.dexter.cash",
                "role": "fallback"
              }
            },
            {
              "x402": {
                "network": "base",
                "facilitator": "https://x402.dexter.cash",
                "role": "fallback"
              }
            },
            {
              "mpp": {
                "method": "solana",
                "intent": "charge",
                "currency": "USDC"
              }
            }
          ],
          "offers": [
            {
              "protocol": "x402",
              "amount": "1000000",
              "currency": "USDC",
              "intent": "charge",
              "description": "$1.00 USDC via PayAI (primary; Dexter fallback on Solana/Base)"
            },
            {
              "protocol": "mpp",
              "amount": "1000000",
              "currency": "USDC",
              "intent": "charge",
              "description": "$1.00 USDC — x402 settlement compatible with MPP clients"
            }
          ]
        },
        "tags": [
          "Crypto",
          "RWA"
        ],
        "responses": {
          "200": {
            "description": "Success after payment",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": false,
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "published": {
                      "type": "boolean"
                    },
                    "title": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "id",
                    "published"
                  ]
                },
                "example": {
                  "id": "sig_abc123",
                  "published": true,
                  "title": "BTC thesis"
                }
              }
            }
          },
          "402": {
            "description": "Payment Required",
            "headers": {
              "PAYMENT-REQUIRED": {
                "description": "Base64 JSON x402 payment requirements (MPP-compatible)",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "priceUsdc": {
                      "type": "number"
                    },
                    "resource": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "servers": [
          {
            "url": "https://conc-exe.xyz/api/lounge-signal-publish"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": false,
                "properties": {
                  "title": {
                    "type": "string"
                  },
                  "summary": {
                    "type": "string"
                  },
                  "categories": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "creatorWallet": {
                    "type": "string"
                  },
                  "creatorChain": {
                    "type": "string",
                    "enum": [
                      "sol",
                      "evm"
                    ]
                  }
                },
                "required": [
                  "title",
                  "summary",
                  "categories",
                  "creatorWallet",
                  "creatorChain"
                ]
              }
            }
          }
        }
      }
    },
    "/api/lounge-signal-open": {
      "post": {
        "operationId": "signal_open",
        "summary": "Unlock creator signal",
        "description": "Unlock full intelligence summary for one Lounge RWA creator signal.",
        "x-payment-info": {
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.100000"
          },
          "protocols": [
            {
              "x402": {
                "network": "solana",
                "facilitator": "https://facilitator.payai.network",
                "role": "primary"
              }
            },
            {
              "x402": {
                "network": "base",
                "facilitator": "https://facilitator.payai.network",
                "role": "primary"
              }
            },
            {
              "x402": {
                "network": "solana",
                "facilitator": "https://x402.dexter.cash",
                "role": "fallback"
              }
            },
            {
              "x402": {
                "network": "base",
                "facilitator": "https://x402.dexter.cash",
                "role": "fallback"
              }
            },
            {
              "mpp": {
                "method": "solana",
                "intent": "charge",
                "currency": "USDC"
              }
            }
          ],
          "offers": [
            {
              "protocol": "x402",
              "amount": "100000",
              "currency": "USDC",
              "intent": "charge",
              "description": "$0.10 USDC via PayAI (primary; Dexter fallback on Solana/Base)"
            },
            {
              "protocol": "mpp",
              "amount": "100000",
              "currency": "USDC",
              "intent": "charge",
              "description": "$0.10 USDC — x402 settlement compatible with MPP clients"
            }
          ]
        },
        "tags": [
          "Crypto",
          "RWA"
        ],
        "responses": {
          "200": {
            "description": "Success after payment",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": false,
                  "properties": {
                    "signalId": {
                      "type": "string"
                    },
                    "summary": {
                      "type": "string"
                    },
                    "title": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "signalId",
                    "summary"
                  ]
                },
                "example": {
                  "signalId": "sig_abc123",
                  "summary": "Full intelligence summary…",
                  "title": "BTC thesis"
                }
              }
            }
          },
          "402": {
            "description": "Payment Required",
            "headers": {
              "PAYMENT-REQUIRED": {
                "description": "Base64 JSON x402 payment requirements (MPP-compatible)",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "priceUsdc": {
                      "type": "number"
                    },
                    "resource": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "servers": [
          {
            "url": "https://conc-exe.xyz/api/lounge-signal-open"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": false,
                "properties": {
                  "signalId": {
                    "type": "string",
                    "description": "Published signal id"
                  }
                },
                "required": [
                  "signalId"
                ]
              }
            }
          }
        }
      }
    },
    "/api/concierge-intel-tvl": {
      "post": {
        "operationId": "intel_tvl",
        "summary": "Concierge Intel — TVL",
        "description": "Chain TVL snapshot and top DeFi protocols (DeFi Llama). JSON for agents.",
        "x-payment-info": {
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.100000"
          },
          "protocols": [
            {
              "x402": {
                "network": "solana",
                "facilitator": "https://facilitator.payai.network",
                "role": "primary"
              }
            },
            {
              "x402": {
                "network": "base",
                "facilitator": "https://facilitator.payai.network",
                "role": "primary"
              }
            },
            {
              "x402": {
                "network": "solana",
                "facilitator": "https://x402.dexter.cash",
                "role": "fallback"
              }
            },
            {
              "x402": {
                "network": "base",
                "facilitator": "https://x402.dexter.cash",
                "role": "fallback"
              }
            },
            {
              "mpp": {
                "method": "solana",
                "intent": "charge",
                "currency": "USDC"
              }
            }
          ],
          "offers": [
            {
              "protocol": "x402",
              "amount": "100000",
              "currency": "USDC",
              "intent": "charge",
              "description": "$0.10 USDC via PayAI (primary; Dexter fallback on Solana/Base)"
            },
            {
              "protocol": "mpp",
              "amount": "100000",
              "currency": "USDC",
              "intent": "charge",
              "description": "$0.10 USDC — x402 settlement compatible with MPP clients"
            }
          ]
        },
        "tags": [
          "AI",
          "Crypto",
          "Trading"
        ],
        "responses": {
          "200": {
            "description": "Success after payment",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": false,
                  "properties": {
                    "ok": {
                      "type": "boolean"
                    },
                    "chains": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "name": {
                            "type": "string"
                          },
                          "tvl": {
                            "type": "number"
                          }
                        }
                      }
                    },
                    "topProtocols": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "name": {
                            "type": "string"
                          },
                          "tvl": {
                            "type": "number"
                          },
                          "category": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  },
                  "required": [
                    "ok"
                  ]
                },
                "example": {
                  "ok": true,
                  "chains": [
                    {
                      "name": "Solana",
                      "tvl": 4200000000
                    }
                  ],
                  "topProtocols": []
                }
              }
            }
          },
          "402": {
            "description": "Payment Required",
            "headers": {
              "PAYMENT-REQUIRED": {
                "description": "Base64 JSON x402 payment requirements (MPP-compatible)",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "priceUsdc": {
                      "type": "number"
                    },
                    "resource": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "servers": [
          {
            "url": "https://conc-exe.xyz/api/concierge-intel-tvl"
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": false,
                "properties": {
                  "message": {
                    "type": "string",
                    "description": "Optional context for logging"
                  }
                },
                "required": []
              }
            }
          }
        }
      },
      "get": {
        "operationId": "intel_tvl_get",
        "summary": "Concierge Intel — TVL (GET probe)",
        "description": "Chain TVL snapshot and top DeFi protocols (DeFi Llama). JSON for agents. Probes return 402 without payment; use POST with JSON body after settlement.",
        "x-payment-info": {
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.100000"
          },
          "protocols": [
            {
              "x402": {
                "network": "solana",
                "facilitator": "https://facilitator.payai.network",
                "role": "primary"
              }
            },
            {
              "x402": {
                "network": "base",
                "facilitator": "https://facilitator.payai.network",
                "role": "primary"
              }
            },
            {
              "x402": {
                "network": "solana",
                "facilitator": "https://x402.dexter.cash",
                "role": "fallback"
              }
            },
            {
              "x402": {
                "network": "base",
                "facilitator": "https://x402.dexter.cash",
                "role": "fallback"
              }
            },
            {
              "mpp": {
                "method": "solana",
                "intent": "charge",
                "currency": "USDC"
              }
            }
          ],
          "offers": [
            {
              "protocol": "x402",
              "amount": "100000",
              "currency": "USDC",
              "intent": "charge",
              "description": "$0.10 USDC via PayAI (primary; Dexter fallback on Solana/Base)"
            },
            {
              "protocol": "mpp",
              "amount": "100000",
              "currency": "USDC",
              "intent": "charge",
              "description": "$0.10 USDC — x402 settlement compatible with MPP clients"
            }
          ]
        },
        "tags": [
          "AI",
          "Crypto",
          "Trading"
        ],
        "responses": {
          "200": {
            "description": "Success after payment",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": false,
                  "properties": {
                    "ok": {
                      "type": "boolean"
                    },
                    "chains": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "name": {
                            "type": "string"
                          },
                          "tvl": {
                            "type": "number"
                          }
                        }
                      }
                    },
                    "topProtocols": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "name": {
                            "type": "string"
                          },
                          "tvl": {
                            "type": "number"
                          },
                          "category": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  },
                  "required": [
                    "ok"
                  ]
                },
                "example": {
                  "ok": true,
                  "chains": [
                    {
                      "name": "Solana",
                      "tvl": 4200000000
                    }
                  ],
                  "topProtocols": []
                }
              }
            }
          },
          "402": {
            "description": "Payment Required",
            "headers": {
              "PAYMENT-REQUIRED": {
                "description": "Base64 JSON x402 payment requirements (MPP-compatible)",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "priceUsdc": {
                      "type": "number"
                    },
                    "resource": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "servers": [
          {
            "url": "https://conc-exe.xyz/api/concierge-intel-tvl"
          }
        ],
        "parameters": [
          {
            "name": "message",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/api/concierge-intel-yields": {
      "post": {
        "operationId": "intel_yields",
        "summary": "Concierge Intel — Yields",
        "description": "Screened yield pools on Solana/EVM (Jupiter, Meteora, DLMM, major venues).",
        "x-payment-info": {
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.100000"
          },
          "protocols": [
            {
              "x402": {
                "network": "solana",
                "facilitator": "https://facilitator.payai.network",
                "role": "primary"
              }
            },
            {
              "x402": {
                "network": "base",
                "facilitator": "https://facilitator.payai.network",
                "role": "primary"
              }
            },
            {
              "x402": {
                "network": "solana",
                "facilitator": "https://x402.dexter.cash",
                "role": "fallback"
              }
            },
            {
              "x402": {
                "network": "base",
                "facilitator": "https://x402.dexter.cash",
                "role": "fallback"
              }
            },
            {
              "mpp": {
                "method": "solana",
                "intent": "charge",
                "currency": "USDC"
              }
            }
          ],
          "offers": [
            {
              "protocol": "x402",
              "amount": "100000",
              "currency": "USDC",
              "intent": "charge",
              "description": "$0.10 USDC via PayAI (primary; Dexter fallback on Solana/Base)"
            },
            {
              "protocol": "mpp",
              "amount": "100000",
              "currency": "USDC",
              "intent": "charge",
              "description": "$0.10 USDC — x402 settlement compatible with MPP clients"
            }
          ]
        },
        "tags": [
          "AI",
          "Crypto",
          "Trading"
        ],
        "responses": {
          "200": {
            "description": "Success after payment",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": false,
                  "properties": {
                    "ok": {
                      "type": "boolean"
                    },
                    "pools": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "project": {
                            "type": "string"
                          },
                          "chain": {
                            "type": "string"
                          },
                          "apy": {
                            "type": "number"
                          },
                          "symbol": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  },
                  "required": [
                    "ok"
                  ]
                },
                "example": {
                  "ok": true,
                  "pools": [
                    {
                      "project": "meteora",
                      "chain": "solana",
                      "apy": 12.4,
                      "symbol": "SOL-USDC"
                    }
                  ]
                }
              }
            }
          },
          "402": {
            "description": "Payment Required",
            "headers": {
              "PAYMENT-REQUIRED": {
                "description": "Base64 JSON x402 payment requirements (MPP-compatible)",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "priceUsdc": {
                      "type": "number"
                    },
                    "resource": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "servers": [
          {
            "url": "https://conc-exe.xyz/api/concierge-intel-yields"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": false,
                "properties": {
                  "chain": {
                    "type": "string",
                    "description": "solana | ethereum | base | arbitrum"
                  },
                  "project": {
                    "type": "string",
                    "description": "Filter project id substring"
                  },
                  "message": {
                    "type": "string"
                  }
                },
                "required": []
              }
            }
          }
        }
      },
      "get": {
        "operationId": "intel_yields_get",
        "summary": "Concierge Intel — Yields (GET probe)",
        "description": "Screened yield pools on Solana/EVM (Jupiter, Meteora, DLMM, major venues). Probes return 402 without payment; use POST with JSON body after settlement.",
        "x-payment-info": {
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.100000"
          },
          "protocols": [
            {
              "x402": {
                "network": "solana",
                "facilitator": "https://facilitator.payai.network",
                "role": "primary"
              }
            },
            {
              "x402": {
                "network": "base",
                "facilitator": "https://facilitator.payai.network",
                "role": "primary"
              }
            },
            {
              "x402": {
                "network": "solana",
                "facilitator": "https://x402.dexter.cash",
                "role": "fallback"
              }
            },
            {
              "x402": {
                "network": "base",
                "facilitator": "https://x402.dexter.cash",
                "role": "fallback"
              }
            },
            {
              "mpp": {
                "method": "solana",
                "intent": "charge",
                "currency": "USDC"
              }
            }
          ],
          "offers": [
            {
              "protocol": "x402",
              "amount": "100000",
              "currency": "USDC",
              "intent": "charge",
              "description": "$0.10 USDC via PayAI (primary; Dexter fallback on Solana/Base)"
            },
            {
              "protocol": "mpp",
              "amount": "100000",
              "currency": "USDC",
              "intent": "charge",
              "description": "$0.10 USDC — x402 settlement compatible with MPP clients"
            }
          ]
        },
        "tags": [
          "AI",
          "Crypto",
          "Trading"
        ],
        "responses": {
          "200": {
            "description": "Success after payment",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": false,
                  "properties": {
                    "ok": {
                      "type": "boolean"
                    },
                    "pools": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "project": {
                            "type": "string"
                          },
                          "chain": {
                            "type": "string"
                          },
                          "apy": {
                            "type": "number"
                          },
                          "symbol": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  },
                  "required": [
                    "ok"
                  ]
                },
                "example": {
                  "ok": true,
                  "pools": [
                    {
                      "project": "meteora",
                      "chain": "solana",
                      "apy": 12.4,
                      "symbol": "SOL-USDC"
                    }
                  ]
                }
              }
            }
          },
          "402": {
            "description": "Payment Required",
            "headers": {
              "PAYMENT-REQUIRED": {
                "description": "Base64 JSON x402 payment requirements (MPP-compatible)",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "priceUsdc": {
                      "type": "number"
                    },
                    "resource": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "servers": [
          {
            "url": "https://conc-exe.xyz/api/concierge-intel-yields"
          }
        ],
        "parameters": [
          {
            "name": "chain",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "project",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "message",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/api/concierge-intel-whales": {
      "post": {
        "operationId": "intel_whales",
        "summary": "Concierge Intel — Whales",
        "description": "Binance top-trader long/short ratios (BTC/ETH/SOL derivatives proxy).",
        "x-payment-info": {
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.100000"
          },
          "protocols": [
            {
              "x402": {
                "network": "solana",
                "facilitator": "https://facilitator.payai.network",
                "role": "primary"
              }
            },
            {
              "x402": {
                "network": "base",
                "facilitator": "https://facilitator.payai.network",
                "role": "primary"
              }
            },
            {
              "x402": {
                "network": "solana",
                "facilitator": "https://x402.dexter.cash",
                "role": "fallback"
              }
            },
            {
              "x402": {
                "network": "base",
                "facilitator": "https://x402.dexter.cash",
                "role": "fallback"
              }
            },
            {
              "mpp": {
                "method": "solana",
                "intent": "charge",
                "currency": "USDC"
              }
            }
          ],
          "offers": [
            {
              "protocol": "x402",
              "amount": "100000",
              "currency": "USDC",
              "intent": "charge",
              "description": "$0.10 USDC via PayAI (primary; Dexter fallback on Solana/Base)"
            },
            {
              "protocol": "mpp",
              "amount": "100000",
              "currency": "USDC",
              "intent": "charge",
              "description": "$0.10 USDC — x402 settlement compatible with MPP clients"
            }
          ]
        },
        "tags": [
          "AI",
          "Crypto",
          "Trading"
        ],
        "responses": {
          "200": {
            "description": "Success after payment",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": false,
                  "properties": {
                    "ok": {
                      "type": "boolean"
                    },
                    "positioning": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "symbol": {
                            "type": "string"
                          },
                          "longShortRatio": {
                            "type": "number"
                          },
                          "bias": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  },
                  "required": [
                    "ok"
                  ]
                },
                "example": {
                  "ok": true,
                  "positioning": [
                    {
                      "symbol": "BTC",
                      "longShortRatio": 1.12,
                      "bias": "long"
                    }
                  ]
                }
              }
            }
          },
          "402": {
            "description": "Payment Required",
            "headers": {
              "PAYMENT-REQUIRED": {
                "description": "Base64 JSON x402 payment requirements (MPP-compatible)",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "priceUsdc": {
                      "type": "number"
                    },
                    "resource": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "servers": [
          {
            "url": "https://conc-exe.xyz/api/concierge-intel-whales"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": false,
                "properties": {
                  "symbols": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "enum": [
                        "BTC",
                        "ETH",
                        "SOL"
                      ]
                    }
                  }
                },
                "required": []
              }
            }
          }
        }
      },
      "get": {
        "operationId": "intel_whales_get",
        "summary": "Concierge Intel — Whales (GET probe)",
        "description": "Binance top-trader long/short ratios (BTC/ETH/SOL derivatives proxy). Probes return 402 without payment; use POST with JSON body after settlement.",
        "x-payment-info": {
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.100000"
          },
          "protocols": [
            {
              "x402": {
                "network": "solana",
                "facilitator": "https://facilitator.payai.network",
                "role": "primary"
              }
            },
            {
              "x402": {
                "network": "base",
                "facilitator": "https://facilitator.payai.network",
                "role": "primary"
              }
            },
            {
              "x402": {
                "network": "solana",
                "facilitator": "https://x402.dexter.cash",
                "role": "fallback"
              }
            },
            {
              "x402": {
                "network": "base",
                "facilitator": "https://x402.dexter.cash",
                "role": "fallback"
              }
            },
            {
              "mpp": {
                "method": "solana",
                "intent": "charge",
                "currency": "USDC"
              }
            }
          ],
          "offers": [
            {
              "protocol": "x402",
              "amount": "100000",
              "currency": "USDC",
              "intent": "charge",
              "description": "$0.10 USDC via PayAI (primary; Dexter fallback on Solana/Base)"
            },
            {
              "protocol": "mpp",
              "amount": "100000",
              "currency": "USDC",
              "intent": "charge",
              "description": "$0.10 USDC — x402 settlement compatible with MPP clients"
            }
          ]
        },
        "tags": [
          "AI",
          "Crypto",
          "Trading"
        ],
        "responses": {
          "200": {
            "description": "Success after payment",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": false,
                  "properties": {
                    "ok": {
                      "type": "boolean"
                    },
                    "positioning": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "symbol": {
                            "type": "string"
                          },
                          "longShortRatio": {
                            "type": "number"
                          },
                          "bias": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  },
                  "required": [
                    "ok"
                  ]
                },
                "example": {
                  "ok": true,
                  "positioning": [
                    {
                      "symbol": "BTC",
                      "longShortRatio": 1.12,
                      "bias": "long"
                    }
                  ]
                }
              }
            }
          },
          "402": {
            "description": "Payment Required",
            "headers": {
              "PAYMENT-REQUIRED": {
                "description": "Base64 JSON x402 payment requirements (MPP-compatible)",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "priceUsdc": {
                      "type": "number"
                    },
                    "resource": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "servers": [
          {
            "url": "https://conc-exe.xyz/api/concierge-intel-whales"
          }
        ],
        "parameters": [
          {
            "name": "symbols",
            "in": "query",
            "required": false,
            "schema": {
              "type": "array"
            }
          }
        ]
      }
    },
    "/api/concierge-intel-wallet": {
      "post": {
        "operationId": "intel_wallet",
        "summary": "Concierge Intel — Wallet",
        "description": "Wallet snapshot for Solana (Helius) or EVM address acknowledgment.",
        "x-payment-info": {
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.100000"
          },
          "protocols": [
            {
              "x402": {
                "network": "solana",
                "facilitator": "https://facilitator.payai.network",
                "role": "primary"
              }
            },
            {
              "x402": {
                "network": "base",
                "facilitator": "https://facilitator.payai.network",
                "role": "primary"
              }
            },
            {
              "x402": {
                "network": "solana",
                "facilitator": "https://x402.dexter.cash",
                "role": "fallback"
              }
            },
            {
              "x402": {
                "network": "base",
                "facilitator": "https://x402.dexter.cash",
                "role": "fallback"
              }
            },
            {
              "mpp": {
                "method": "solana",
                "intent": "charge",
                "currency": "USDC"
              }
            }
          ],
          "offers": [
            {
              "protocol": "x402",
              "amount": "100000",
              "currency": "USDC",
              "intent": "charge",
              "description": "$0.10 USDC via PayAI (primary; Dexter fallback on Solana/Base)"
            },
            {
              "protocol": "mpp",
              "amount": "100000",
              "currency": "USDC",
              "intent": "charge",
              "description": "$0.10 USDC — x402 settlement compatible with MPP clients"
            }
          ]
        },
        "tags": [
          "AI",
          "Crypto",
          "Trading"
        ],
        "responses": {
          "200": {
            "description": "Success after payment",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": false,
                  "properties": {
                    "ok": {
                      "type": "boolean"
                    },
                    "wallet": {
                      "type": "object",
                      "additionalProperties": false,
                      "properties": {
                        "chain": {
                          "type": "string"
                        },
                        "address": {
                          "type": "string"
                        },
                        "tokens": {
                          "type": "array",
                          "items": {
                            "type": "object"
                          }
                        }
                      },
                      "required": [
                        "chain",
                        "address"
                      ]
                    }
                  },
                  "required": [
                    "ok"
                  ]
                },
                "example": {
                  "ok": true,
                  "wallet": {
                    "chain": "solana",
                    "address": "7hum…",
                    "tokens": []
                  }
                }
              }
            }
          },
          "402": {
            "description": "Payment Required",
            "headers": {
              "PAYMENT-REQUIRED": {
                "description": "Base64 JSON x402 payment requirements (MPP-compatible)",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "priceUsdc": {
                      "type": "number"
                    },
                    "resource": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "servers": [
          {
            "url": "https://conc-exe.xyz/api/concierge-intel-wallet"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": false,
                "minProperties": 1,
                "description": "At least one of solAddress, evmAddress, or message (with address) is required.",
                "properties": {
                  "solAddress": {
                    "type": "string",
                    "description": "Solana wallet address"
                  },
                  "evmAddress": {
                    "type": "string",
                    "description": "EVM wallet address (0x…)"
                  },
                  "message": {
                    "type": "string",
                    "description": "Optional context; may include an address"
                  }
                },
                "required": []
              }
            }
          }
        }
      },
      "get": {
        "operationId": "intel_wallet_get",
        "summary": "Concierge Intel — Wallet (GET probe)",
        "description": "Wallet snapshot for Solana (Helius) or EVM address acknowledgment. Probes return 402 without payment; use POST with JSON body after settlement.",
        "x-payment-info": {
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.100000"
          },
          "protocols": [
            {
              "x402": {
                "network": "solana",
                "facilitator": "https://facilitator.payai.network",
                "role": "primary"
              }
            },
            {
              "x402": {
                "network": "base",
                "facilitator": "https://facilitator.payai.network",
                "role": "primary"
              }
            },
            {
              "x402": {
                "network": "solana",
                "facilitator": "https://x402.dexter.cash",
                "role": "fallback"
              }
            },
            {
              "x402": {
                "network": "base",
                "facilitator": "https://x402.dexter.cash",
                "role": "fallback"
              }
            },
            {
              "mpp": {
                "method": "solana",
                "intent": "charge",
                "currency": "USDC"
              }
            }
          ],
          "offers": [
            {
              "protocol": "x402",
              "amount": "100000",
              "currency": "USDC",
              "intent": "charge",
              "description": "$0.10 USDC via PayAI (primary; Dexter fallback on Solana/Base)"
            },
            {
              "protocol": "mpp",
              "amount": "100000",
              "currency": "USDC",
              "intent": "charge",
              "description": "$0.10 USDC — x402 settlement compatible with MPP clients"
            }
          ]
        },
        "tags": [
          "AI",
          "Crypto",
          "Trading"
        ],
        "responses": {
          "200": {
            "description": "Success after payment",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": false,
                  "properties": {
                    "ok": {
                      "type": "boolean"
                    },
                    "wallet": {
                      "type": "object",
                      "additionalProperties": false,
                      "properties": {
                        "chain": {
                          "type": "string"
                        },
                        "address": {
                          "type": "string"
                        },
                        "tokens": {
                          "type": "array",
                          "items": {
                            "type": "object"
                          }
                        }
                      },
                      "required": [
                        "chain",
                        "address"
                      ]
                    }
                  },
                  "required": [
                    "ok"
                  ]
                },
                "example": {
                  "ok": true,
                  "wallet": {
                    "chain": "solana",
                    "address": "7hum…",
                    "tokens": []
                  }
                }
              }
            }
          },
          "402": {
            "description": "Payment Required",
            "headers": {
              "PAYMENT-REQUIRED": {
                "description": "Base64 JSON x402 payment requirements (MPP-compatible)",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "priceUsdc": {
                      "type": "number"
                    },
                    "resource": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "servers": [
          {
            "url": "https://conc-exe.xyz/api/concierge-intel-wallet"
          }
        ],
        "parameters": [
          {
            "name": "solAddress",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "evmAddress",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "message",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/api/concierge-intel-verdict": {
      "post": {
        "operationId": "intel_verdict",
        "summary": "Concierge Intel — Verdict",
        "description": "Structured desk verdict with Fear & Greed, positioning, yields, and optional Lounge insider signals.",
        "x-payment-info": {
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.100000"
          },
          "protocols": [
            {
              "x402": {
                "network": "solana",
                "facilitator": "https://facilitator.payai.network",
                "role": "primary"
              }
            },
            {
              "x402": {
                "network": "base",
                "facilitator": "https://facilitator.payai.network",
                "role": "primary"
              }
            },
            {
              "x402": {
                "network": "solana",
                "facilitator": "https://x402.dexter.cash",
                "role": "fallback"
              }
            },
            {
              "x402": {
                "network": "base",
                "facilitator": "https://x402.dexter.cash",
                "role": "fallback"
              }
            },
            {
              "mpp": {
                "method": "solana",
                "intent": "charge",
                "currency": "USDC"
              }
            }
          ],
          "offers": [
            {
              "protocol": "x402",
              "amount": "100000",
              "currency": "USDC",
              "intent": "charge",
              "description": "$0.10 USDC via PayAI (primary; Dexter fallback on Solana/Base)"
            },
            {
              "protocol": "mpp",
              "amount": "100000",
              "currency": "USDC",
              "intent": "charge",
              "description": "$0.10 USDC — x402 settlement compatible with MPP clients"
            }
          ]
        },
        "tags": [
          "AI",
          "Crypto",
          "Trading",
          "RWA"
        ],
        "responses": {
          "200": {
            "description": "Success after payment",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": false,
                  "properties": {
                    "ok": {
                      "type": "boolean"
                    },
                    "verdict": {
                      "type": "object",
                      "additionalProperties": false,
                      "properties": {
                        "signal": {
                          "type": "string",
                          "enum": [
                            "snipe",
                            "watch",
                            "follow",
                            "avoid",
                            "rebalance"
                          ]
                        },
                        "confidence": {
                          "type": "string"
                        },
                        "summary": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "signal"
                      ]
                    }
                  },
                  "required": [
                    "ok",
                    "verdict"
                  ]
                },
                "example": {
                  "ok": true,
                  "verdict": {
                    "signal": "watch",
                    "confidence": "medium",
                    "summary": "Desk bias neutral…"
                  }
                }
              }
            }
          },
          "402": {
            "description": "Payment Required",
            "headers": {
              "PAYMENT-REQUIRED": {
                "description": "Base64 JSON x402 payment requirements (MPP-compatible)",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "priceUsdc": {
                      "type": "number"
                    },
                    "resource": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "servers": [
          {
            "url": "https://conc-exe.xyz/api/concierge-intel-verdict"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": false,
                "properties": {
                  "message": {
                    "type": "string",
                    "description": "Question or theme for verdict"
                  },
                  "includeInsider": {
                    "type": "boolean",
                    "description": "Include Lounge creator signals (default true)"
                  }
                },
                "required": [
                  "message"
                ]
              }
            }
          }
        }
      },
      "get": {
        "operationId": "intel_verdict_get",
        "summary": "Concierge Intel — Verdict (GET probe)",
        "description": "Structured desk verdict with Fear & Greed, positioning, yields, and optional Lounge insider signals. Probes return 402 without payment; use POST with JSON body after settlement.",
        "x-payment-info": {
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.100000"
          },
          "protocols": [
            {
              "x402": {
                "network": "solana",
                "facilitator": "https://facilitator.payai.network",
                "role": "primary"
              }
            },
            {
              "x402": {
                "network": "base",
                "facilitator": "https://facilitator.payai.network",
                "role": "primary"
              }
            },
            {
              "x402": {
                "network": "solana",
                "facilitator": "https://x402.dexter.cash",
                "role": "fallback"
              }
            },
            {
              "x402": {
                "network": "base",
                "facilitator": "https://x402.dexter.cash",
                "role": "fallback"
              }
            },
            {
              "mpp": {
                "method": "solana",
                "intent": "charge",
                "currency": "USDC"
              }
            }
          ],
          "offers": [
            {
              "protocol": "x402",
              "amount": "100000",
              "currency": "USDC",
              "intent": "charge",
              "description": "$0.10 USDC via PayAI (primary; Dexter fallback on Solana/Base)"
            },
            {
              "protocol": "mpp",
              "amount": "100000",
              "currency": "USDC",
              "intent": "charge",
              "description": "$0.10 USDC — x402 settlement compatible with MPP clients"
            }
          ]
        },
        "tags": [
          "AI",
          "Crypto",
          "Trading",
          "RWA"
        ],
        "responses": {
          "200": {
            "description": "Success after payment",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": false,
                  "properties": {
                    "ok": {
                      "type": "boolean"
                    },
                    "verdict": {
                      "type": "object",
                      "additionalProperties": false,
                      "properties": {
                        "signal": {
                          "type": "string",
                          "enum": [
                            "snipe",
                            "watch",
                            "follow",
                            "avoid",
                            "rebalance"
                          ]
                        },
                        "confidence": {
                          "type": "string"
                        },
                        "summary": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "signal"
                      ]
                    }
                  },
                  "required": [
                    "ok",
                    "verdict"
                  ]
                },
                "example": {
                  "ok": true,
                  "verdict": {
                    "signal": "watch",
                    "confidence": "medium",
                    "summary": "Desk bias neutral…"
                  }
                }
              }
            }
          },
          "402": {
            "description": "Payment Required",
            "headers": {
              "PAYMENT-REQUIRED": {
                "description": "Base64 JSON x402 payment requirements (MPP-compatible)",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "priceUsdc": {
                      "type": "number"
                    },
                    "resource": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "servers": [
          {
            "url": "https://conc-exe.xyz/api/concierge-intel-verdict"
          }
        ],
        "parameters": [
          {
            "name": "message",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "includeInsider",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          }
        ]
      }
    },
    "/api/concierge-intel-airdrop": {
      "post": {
        "operationId": "intel_airdrop",
        "summary": "Concierge Intel — Airdrop",
        "description": "Potential airdrop candidates — Lounge insider signals first, institutional/onchain/narrative/KOL overlay.",
        "x-payment-info": {
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.100000"
          },
          "protocols": [
            {
              "x402": {
                "network": "solana",
                "facilitator": "https://facilitator.payai.network",
                "role": "primary"
              }
            },
            {
              "x402": {
                "network": "base",
                "facilitator": "https://facilitator.payai.network",
                "role": "primary"
              }
            },
            {
              "x402": {
                "network": "solana",
                "facilitator": "https://x402.dexter.cash",
                "role": "fallback"
              }
            },
            {
              "x402": {
                "network": "base",
                "facilitator": "https://x402.dexter.cash",
                "role": "fallback"
              }
            },
            {
              "mpp": {
                "method": "solana",
                "intent": "charge",
                "currency": "USDC"
              }
            }
          ],
          "offers": [
            {
              "protocol": "x402",
              "amount": "100000",
              "currency": "USDC",
              "intent": "charge",
              "description": "$0.10 USDC via PayAI (primary; Dexter fallback on Solana/Base)"
            },
            {
              "protocol": "mpp",
              "amount": "100000",
              "currency": "USDC",
              "intent": "charge",
              "description": "$0.10 USDC — x402 settlement compatible with MPP clients"
            }
          ]
        },
        "tags": [
          "AI",
          "Crypto",
          "Trading",
          "RWA"
        ],
        "responses": {
          "200": {
            "description": "Success after payment",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": false,
                  "properties": {
                    "ok": {
                      "type": "boolean"
                    },
                    "summary": {
                      "type": "string"
                    },
                    "candidates": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "asset": {
                            "type": "string"
                          },
                          "thesis": {
                            "type": "string"
                          },
                          "conviction": {
                            "type": "string"
                          },
                          "insiderWeight": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  },
                  "required": [
                    "ok",
                    "candidates"
                  ]
                },
                "example": {
                  "ok": true,
                  "summary": "Two Solana protocols show insider + narrative airdrop overlap.",
                  "candidates": [
                    {
                      "asset": "EXAMPLE",
                      "thesis": "Creator signal + TVL growth — monitor points program.",
                      "conviction": "medium",
                      "insiderWeight": "primary"
                    }
                  ]
                }
              }
            }
          },
          "402": {
            "description": "Payment Required",
            "headers": {
              "PAYMENT-REQUIRED": {
                "description": "Base64 JSON x402 payment requirements (MPP-compatible)",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "priceUsdc": {
                      "type": "number"
                    },
                    "resource": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "servers": [
          {
            "url": "https://conc-exe.xyz/api/concierge-intel-airdrop"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": false,
                "properties": {
                  "message": {
                    "type": "string",
                    "description": "Focus theme or protocol name"
                  },
                  "chain": {
                    "type": "string",
                    "description": "Optional chain filter (solana, ethereum, base)"
                  },
                  "limit": {
                    "type": "number",
                    "description": "Max candidates 1–8 (default 5)"
                  },
                  "includeInsider": {
                    "type": "boolean",
                    "description": "Include Lounge insider signals (default true)"
                  }
                },
                "required": []
              }
            }
          }
        }
      },
      "get": {
        "operationId": "intel_airdrop_get",
        "summary": "Concierge Intel — Airdrop (GET probe)",
        "description": "Potential airdrop candidates — Lounge insider signals first, institutional/onchain/narrative/KOL overlay. Probes return 402 without payment; use POST with JSON body after settlement.",
        "x-payment-info": {
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.100000"
          },
          "protocols": [
            {
              "x402": {
                "network": "solana",
                "facilitator": "https://facilitator.payai.network",
                "role": "primary"
              }
            },
            {
              "x402": {
                "network": "base",
                "facilitator": "https://facilitator.payai.network",
                "role": "primary"
              }
            },
            {
              "x402": {
                "network": "solana",
                "facilitator": "https://x402.dexter.cash",
                "role": "fallback"
              }
            },
            {
              "x402": {
                "network": "base",
                "facilitator": "https://x402.dexter.cash",
                "role": "fallback"
              }
            },
            {
              "mpp": {
                "method": "solana",
                "intent": "charge",
                "currency": "USDC"
              }
            }
          ],
          "offers": [
            {
              "protocol": "x402",
              "amount": "100000",
              "currency": "USDC",
              "intent": "charge",
              "description": "$0.10 USDC via PayAI (primary; Dexter fallback on Solana/Base)"
            },
            {
              "protocol": "mpp",
              "amount": "100000",
              "currency": "USDC",
              "intent": "charge",
              "description": "$0.10 USDC — x402 settlement compatible with MPP clients"
            }
          ]
        },
        "tags": [
          "AI",
          "Crypto",
          "Trading",
          "RWA"
        ],
        "responses": {
          "200": {
            "description": "Success after payment",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": false,
                  "properties": {
                    "ok": {
                      "type": "boolean"
                    },
                    "summary": {
                      "type": "string"
                    },
                    "candidates": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "asset": {
                            "type": "string"
                          },
                          "thesis": {
                            "type": "string"
                          },
                          "conviction": {
                            "type": "string"
                          },
                          "insiderWeight": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  },
                  "required": [
                    "ok",
                    "candidates"
                  ]
                },
                "example": {
                  "ok": true,
                  "summary": "Two Solana protocols show insider + narrative airdrop overlap.",
                  "candidates": [
                    {
                      "asset": "EXAMPLE",
                      "thesis": "Creator signal + TVL growth — monitor points program.",
                      "conviction": "medium",
                      "insiderWeight": "primary"
                    }
                  ]
                }
              }
            }
          },
          "402": {
            "description": "Payment Required",
            "headers": {
              "PAYMENT-REQUIRED": {
                "description": "Base64 JSON x402 payment requirements (MPP-compatible)",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "priceUsdc": {
                      "type": "number"
                    },
                    "resource": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "servers": [
          {
            "url": "https://conc-exe.xyz/api/concierge-intel-airdrop"
          }
        ],
        "parameters": [
          {
            "name": "message",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "chain",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "includeInsider",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          }
        ]
      }
    },
    "/api/concierge-intel-listing": {
      "post": {
        "operationId": "intel_listing",
        "summary": "Concierge Intel — Listing",
        "description": "Potential exchange listing candidates — insider-first alpha desk synthesis for agents.",
        "x-payment-info": {
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.100000"
          },
          "protocols": [
            {
              "x402": {
                "network": "solana",
                "facilitator": "https://facilitator.payai.network",
                "role": "primary"
              }
            },
            {
              "x402": {
                "network": "base",
                "facilitator": "https://facilitator.payai.network",
                "role": "primary"
              }
            },
            {
              "x402": {
                "network": "solana",
                "facilitator": "https://x402.dexter.cash",
                "role": "fallback"
              }
            },
            {
              "x402": {
                "network": "base",
                "facilitator": "https://x402.dexter.cash",
                "role": "fallback"
              }
            },
            {
              "mpp": {
                "method": "solana",
                "intent": "charge",
                "currency": "USDC"
              }
            }
          ],
          "offers": [
            {
              "protocol": "x402",
              "amount": "100000",
              "currency": "USDC",
              "intent": "charge",
              "description": "$0.10 USDC via PayAI (primary; Dexter fallback on Solana/Base)"
            },
            {
              "protocol": "mpp",
              "amount": "100000",
              "currency": "USDC",
              "intent": "charge",
              "description": "$0.10 USDC — x402 settlement compatible with MPP clients"
            }
          ]
        },
        "tags": [
          "AI",
          "Crypto",
          "Trading",
          "RWA"
        ],
        "responses": {
          "200": {
            "description": "Success after payment",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": false,
                  "properties": {
                    "ok": {
                      "type": "boolean"
                    },
                    "summary": {
                      "type": "string"
                    },
                    "candidates": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "asset": {
                            "type": "string"
                          },
                          "thesis": {
                            "type": "string"
                          },
                          "conviction": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  },
                  "required": [
                    "ok",
                    "candidates"
                  ]
                },
                "example": {
                  "ok": true,
                  "summary": "Listing desk scan complete.",
                  "candidates": [
                    {
                      "asset": "TOKEN",
                      "thesis": "Volume + headline listing rumor.",
                      "conviction": "low"
                    }
                  ]
                }
              }
            }
          },
          "402": {
            "description": "Payment Required",
            "headers": {
              "PAYMENT-REQUIRED": {
                "description": "Base64 JSON x402 payment requirements (MPP-compatible)",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "priceUsdc": {
                      "type": "number"
                    },
                    "resource": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "servers": [
          {
            "url": "https://conc-exe.xyz/api/concierge-intel-listing"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": false,
                "properties": {
                  "message": {
                    "type": "string",
                    "description": "Token or listing catalyst focus"
                  },
                  "chain": {
                    "type": "string"
                  },
                  "limit": {
                    "type": "number"
                  },
                  "includeInsider": {
                    "type": "boolean"
                  }
                },
                "required": []
              }
            }
          }
        }
      },
      "get": {
        "operationId": "intel_listing_get",
        "summary": "Concierge Intel — Listing (GET probe)",
        "description": "Potential exchange listing candidates — insider-first alpha desk synthesis for agents. Probes return 402 without payment; use POST with JSON body after settlement.",
        "x-payment-info": {
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.100000"
          },
          "protocols": [
            {
              "x402": {
                "network": "solana",
                "facilitator": "https://facilitator.payai.network",
                "role": "primary"
              }
            },
            {
              "x402": {
                "network": "base",
                "facilitator": "https://facilitator.payai.network",
                "role": "primary"
              }
            },
            {
              "x402": {
                "network": "solana",
                "facilitator": "https://x402.dexter.cash",
                "role": "fallback"
              }
            },
            {
              "x402": {
                "network": "base",
                "facilitator": "https://x402.dexter.cash",
                "role": "fallback"
              }
            },
            {
              "mpp": {
                "method": "solana",
                "intent": "charge",
                "currency": "USDC"
              }
            }
          ],
          "offers": [
            {
              "protocol": "x402",
              "amount": "100000",
              "currency": "USDC",
              "intent": "charge",
              "description": "$0.10 USDC via PayAI (primary; Dexter fallback on Solana/Base)"
            },
            {
              "protocol": "mpp",
              "amount": "100000",
              "currency": "USDC",
              "intent": "charge",
              "description": "$0.10 USDC — x402 settlement compatible with MPP clients"
            }
          ]
        },
        "tags": [
          "AI",
          "Crypto",
          "Trading",
          "RWA"
        ],
        "responses": {
          "200": {
            "description": "Success after payment",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": false,
                  "properties": {
                    "ok": {
                      "type": "boolean"
                    },
                    "summary": {
                      "type": "string"
                    },
                    "candidates": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "asset": {
                            "type": "string"
                          },
                          "thesis": {
                            "type": "string"
                          },
                          "conviction": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  },
                  "required": [
                    "ok",
                    "candidates"
                  ]
                },
                "example": {
                  "ok": true,
                  "summary": "Listing desk scan complete.",
                  "candidates": [
                    {
                      "asset": "TOKEN",
                      "thesis": "Volume + headline listing rumor.",
                      "conviction": "low"
                    }
                  ]
                }
              }
            }
          },
          "402": {
            "description": "Payment Required",
            "headers": {
              "PAYMENT-REQUIRED": {
                "description": "Base64 JSON x402 payment requirements (MPP-compatible)",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "priceUsdc": {
                      "type": "number"
                    },
                    "resource": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "servers": [
          {
            "url": "https://conc-exe.xyz/api/concierge-intel-listing"
          }
        ],
        "parameters": [
          {
            "name": "message",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "chain",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "includeInsider",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          }
        ]
      }
    },
    "/api/concierge-intel-momentum": {
      "post": {
        "operationId": "intel_momentum",
        "summary": "Concierge Intel — Momentum",
[...]
